<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC 실습1</title>
    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      form label {
        display: flex;
      }
      label span {
        width: 70px;
      }
      .success {
        color: blue;
        font-size: 1.2rem;
        font-weight: 700;
      }

      .error {
        color: red;
        font-size: 1.2rem;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <h1>MVC 실습1</h1>
    <form name="loginForm">
      <label for="userId">
        <span>아이디</span>
        <input name="userId" type="text" required />
      </label>
      <label for="userPw">
        <span>비밀번호</span>
        <input name="userPw" type="password" required />
      </label>
      <br />
      <button type="button" onclick="clickLogin()">로그인</button>
    </form>
    <div class="result"></div>
  </body>
  <script>
    function clickLogin() {
      const form = document.forms["loginForm"];
      const resultbox = document.querySelector(".result");
      const data = {
        userId: form.userId.value,
        userPw: form.userPw.value,
      };
      console.log(data);

      //유효성 검증
      console.log(form.userId.checkValidity());
      console.log(form.userPw.checkValidity());
      if (!form.userId.checkValidity() || !form.userPw.checkValidity()) {
        resultbox.innerText = "아이디와 비밀번호는 필수입니다.";
        return;
      }

      axios({
        url: "/index",
        method: "post",
        data: data,
      }).then((res) => {
        if (res.data.isSuccess) {
          resultbox.textContent = `${res.data.userId}님 로그인 성공~`;
          resultbox.classList.add("success");
          resultbox.classList.remove("error");
        } else {
          resultbox.textContent = "아이디 또는 패스워드 오류입니다";
          resultbox.classList.add("error");
          resultbox.classList.remove("success");
        }
      });
    }
  </script>
</html>
