<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>multer 사용</title>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      form {
        border: 2px solid #ccc;
        padding: 1rem;
      }

      .profile {
        background-color: pink;
      }
    </style>
  </head>
  <body>
    <h1>multer 사용해보기</h1>
    <h2>파일 한 개 업로드</h2>
    <!-- 파일은 항상 post -->
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="userfile" />
      <br />
      <input type="text" name="title" placeholder="사진 제목" />
      <br />
      <button type="submit">업로드</button>
    </form>

    <h2>하나의 input에 파일 여러개 업로드</h2>
    <form action="/uploads/array" method="post" enctype="multipart/form-data">
      <input type="file" name="multifiles" multiple />
      <br />
      <input type="text" name="title" placeholder="사진 제목" />
      <br />
      <button>업로드</button>
    </form>

    <h2>여러 개 input에 파일 업로드</h2>
    <form action="/uploads/fields" method="post" enctype="multipart/form-data">
      <input type="file" name="file1" /><br />
      <input type="text" name="title1" placeholder="사진 제목1" />

      <br /><br />
      <input type="file" name="file2" /><br />
      <input type="text" name="title2" placeholder="사진 제목2" />

      <br /><br />
      <input type="file" name="file3" /><br />
      <input type="text" name="title3" placeholder="사진 제목3" />

      <br /><br />
      <button>업로드</button>
    </form>

    <hr />
    <h2>동적 파일 업로드</h2>
    <div class="dynamic">
      <input type="file" name="dynamicFile" id="dynamicFile" />
      <br />
      <input
        type="text"
        name="dynamicTitle"
        id="dynamicTitle"
        placeholder="프로필 설명"
      />
      <button onclick="fileUpload()">프로필 업로드</button>
      <button onclick="fileAndTextload()">프로필 업로드(with title)</button>
    </div>
    <img
      src="/static/default.jpg"
      alt="기본프로필이미지"
      width="200"
      height="200"
    />
    <div class="tit"></div>
    <br />
    <br />

    <script>
      function fileUpload() {
        const file = document.getElementById("dynamicFile");
        console.log(file);
        //console.dir(file);  파일 안에 뭐가 있는지 확인 (배열형태로 들어있었어 )
        console.log(file.files);
        console.log(file.files[0]);

        const formData = new FormData(); //js에서 기본 제공하는 클래스
        //파일을 페이지 전화 없이 비동기로 제출시 사용
        formData.append("dynamicFile", file.files[0]);

        axios({
          method: "post",
          url: "/dynamicUpload",
          data: formData,
          header: {
            "Content-Type": "multipart/form-data",
          },
        }).then((res) => {
          console.log(res.data);
          destination: "uploads/";

          // encoding: "7bit"

          // fieldname: "dynamicFile"

          // filename: "pooh_7201732520726709.png"

          // mimetype: "image/png"

          // originalname: "pooh_720.png"

          // path: "uploads/pooh_7201732520726709.png"

          // size: 176304
          console.log(res.data.path);
          //console.log(res.data.originalname);
          const img = document.querySelector("img");
          img.src = `/${res.data.path}`;
        });
      }

      // 글과 파일을 함께 업로드
      function fileAndTextload() {
        const formData = new FormData(); //파일을 보내려면 꼭 폼 만들어서
        //input type="file" 파일정보를 서버로 보내기 위해 선택
        const file = document.getElementById("dynamicFile");
        // input type="text" 이미지에 대한 제목 = 글자정보를 서버로 보내기 위해
        const title = document.getElementById("dynamicTitle");
        //사진 src, alt 속성 바꾸기 위해
        const img = document.querySelector("img");

        console.log(file.files);
        formData.append("dynamicFile", file.files[0]); //위에 콘솔창에 정보 보면 이렇게(키이름자기맘)
        formData.append("dynamicTitle", title.value);

        /*
        formData ={
        daynamicFile:파일정보
        dynamicText:" 사진제목"
        
        }
        **/

        axios({
          method: "post",
          url: "/dynamicUpload",
          data: formData,
          header: {
            "Content-Type": "multipart/form-data",
          },
        })
          .then((res) => {
            console.log(res.data);
            console.log(res.data.fileInfo.dynamicTitle); //제목과 아래 경로 정보를 바탕으로 src바꾸기
            console.log(res.data.file.path);

            img.src = "/" + res.data.file.path; // path는 / 없이 경로만 나오니 /를 앞에서 더해서
            img.alt = res.data.fileInfo.dynamicTitle + "사진";
            //class = tit
            document.querySelector(".tit").innerText =
              res.data.fileInfo.dynamicTitle;
          })
          .catch((err) => console.error("error", err));
      }
    </script>
  </body>
</html>
