<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <!-- cdn,font,jquery-->
    <%- include("./includes/head") %>
    <link rel="stylesheet" href="/static/header.css" />
    <style>
      /* form */
      .logindiv {
        width: 100vw;
        height: 300px;
        /* border: 1px solid salmon; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form > input {
        width: 300px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid lightgray;
      }
      form > button {
        width: 300px;
        height: 40px;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
      }
      .loginB {
        background-color: rgb(255, 133, 117);
        color: white;
        border: none;
      }
      .registerB {
        background-color: white;
        border: 1px solid lightgray;
      }
      [type="checkbox"] {
        accent-color: rgb(240, 240, 240);
      }

      label {
        font-size: 10px;
        color: lightslategray;
      }
    </style>
  </head>
  <body>
    <%-include("./includes/header") %>
    <!-- <header>
      <a href="/">
        <i class="fa-solid fa-arrow-left fa-xl" style="color: #000000"></i>
      </a>

      <p class="loginlogo">로그인</p>
    </header> -->
    <!-- 시맨틱 태그라면 <main> > section 이나 article(세션 안으로 들어 갈 수도) > figure -->
    <div class="con">
      <div class="logindiv">
        <form name="loginForm">
          <input type="text" name="userid" placeholder=" 아이디" required />
          <br />
          <input
            type="password"
            name="userpw"
            placeholder=" 비밀번호"
            required
          />
          <br />
          <label for="checkbox">
            <input type="checkbox" name="autologin" checked />
            자동 로그인
          </label>
          <br />
          <button type="button" onclick="login()" class="loginB">로그인</button>
          <br />
          <button
            type="button"
            class="registerB"
            onclick="location.href='/register'"
          >
            회원가입
          </button>
          <!-- 회원가입은 onclick 으로 이동하는지? -->
        </form>
      </div>
      <div class="result"></div>
    </div>

    <script>
      const resultBox = document.querySelector(".result");
      function login() {
        const form = document.forms["loginForm"];
        console.log("form.userid", form.userid.value);
        console.log("form.userpw", form.userpw.value);
        // 유효성 검사
        if (form.userid.value.length === 0 || form.userpw.value.length === 0) {
          alert("아이디와 비밀번호를 입력해주세요");
          return;
        }

        //Ajax

        $.ajax({
          type: "post",
          url: "/login",
          data: {
            userid: form.userid.value,
            userpw: form.userpw.value,
          },
          success: function (res) {
            // success 위에는 백엔드로 보내는 값, 아래는 백엔드에서 받은 갑이다.(Cmain)
            //인자로 data 로 받아도 결과 같음
            console.log("SUC_res", res); // {result: true, userid: "", userpw: ""}
            console.log(res.userid); //
            resultBox.textContent = `${res.userid}로그인 성공`;
            //document.location.href = "/";
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    </script>
  </body>
</html>
