<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 애니매이션</title>
    <%- include("./includes/head") %>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Noto Sans KR", serif;
      }

      .back {
        width: 100vw;
        height: 100vh;
        margin: 0;
        background-color: #ff8675;
        /* position: relative; */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        float: left;
        position: absolute;
      }

      .Ani {
        /* animation: change 0.8s linear 1; */
      }

      .container {
        width: 500px;
        height: 500px;
        text-align: center;
        align-content: center;
        cursor: pointer;
        position: relative;
      }

      img {
        width: 72px;
        height: 99px;
        margin-bottom: 13px;
        position: relative;
        /* animation: ani 0.5s ease-out infinite alternate;*/
      }
      .p1 {
        font-size: 48px;
        color: white;
        font-weight: 700;
        margin-bottom: 13px;
      }
      .p2 {
        font-size: 20px;
        color: white;
        margin-bottom: 13px;
      }
      @keyframes change {
        /* 슬라이드 */
        0% {
          left: 0vw;
        }
        20% {
          left: -20vw;
        }
        40% {
          left: -40vw;
        }
        60% {
          left: -60vw;
        }
        80% {
          left: -80vw;
        }
        100% {
          left: -100vw;
        }
      }
      @keyframes ani {
        /* 아래 위 */
        0% {
          bottom: 0px;
        }
        50% {
          bottom: 15px;
        }
        100% {
          bottom: 30px;
        }
      }
    </style>
  </head>
  <body>
    <div class="back">
      <!-- onclick="location.href='/'" -->
      <div class="container" onclick="con()">
        <img src="/static/img/logo1.png" alt="logo" />
        <p class="p1">오늘 뭐 먹지?</p>
        <p class="p2">매번 드는 고민! 해결</p>
      </div>
    </div>

    <div class="M">
      <h1>main</h1>
    </div>
    <div class="F">
      <h1>footer</h1>
    </div>
  </body>
  <script>
    function con() {
      const back = document.querySelector(".back");

      back.classList.add("Ani");
    }
  </script>
</html>
