<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <!-- cdn,font,jquery-->
    <%- include("./includes/head") %>
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/register.css" />
  </head>
  <body>
    <!--    원래 뼈대  -->

    <!-- 헤더 -->
    <!-- include("./includes/header") %> -->
    <header>
      <a href="#" onClick="history.back()">
        <img src="/static/img/Arrow - Left.png" alt="arrow" />
        <!-- <i class="fa-solid fa-arrow-left fa-2xl" style="color: #000000"></i> -->
      </a>

      <p class="logo">회원가입</p>
    </header>

    <main>
      <div class="regidiv">
        <form
          name="register"
          class="register"
          onsubmit="return registerClick()"
        >
          <input
            type="text"
            name="userid"
            class="userid"
            placeholder=" 아이디"
          />
          <button type="button" class="useridB" onclick="idCheck()">
            확인
          </button>
          <p class="idP">영문 소문자, 숫자를 포함한 5 ~ 12자리</p>
          <div class="pwBox">
            <input
              type="password"
              name="userpw1"
              class="userpw"
              id="userpw1"
              placeholder="  패스워드"
            />

            <span class="check1" style="display: none"
              ><img src="/static/img/icons8-체크-표시-50.png" alt="check"
            /></span>
          </div>

          <p class="pwP">영문 소/대문자, 숫자, !@#$ 포함 5 ~ 15자</p>

          <div class="pwBox">
            <input
              type="password"
              name="userpw2"
              class="userpw"
              id="userpw2"
              placeholder="  패스워드 확인"
            />

            <span class="check2" style="display: none"
              ><img src="/static/img/icons8-체크-표시-50.png" alt="check"
            /></span>
          </div>

          <input
            type="text"
            name="username"
            class="username"
            placeholder="  이름"
          />
          <br />
          <input
            type="date"
            name="userbirth"
            class="birth"
            value="1993-03-03"
            min="1970-01-01"
            max="2018-12-31"
          />
          <br />
          <button type="submit" class="registerB">가입</button>
        </form>
      </div>
    </main>

    <script>
      function idCheck() {
        const form = document.forms["register"];
        const inputId = form.userid.value.trim();
        const idP = document.querySelector(".idP");

        const reg = /^(?=.*[a-z])(?=.*\d)[A-Za-z\d]{5,12}$/; //정규식
        const isChecked = reg.test(inputId);

        //확인용 삭제
        console.log("isFalse", isChecked); // 유효성 검사
        console.log("form.userid!", form.userid.value); //" "

        if (inputId === "") {
          idP.innerText = "아이디를 입력해주세요";
          idP.style.color = "red";
          return false;
        }

        if (!isChecked) {
          idP.innerText =
            "아이디는 영문 소문자, 숫자를 포함한 5 ~ 12여야 합니다.";
          idP.style.color = "red";
          return false;
        } else {
          idP.innerText = "영문 소문자, 숫자를 포함한 5 ~ 12자리";
          idP.style.color = "rgba(160, 160, 160, 1)";
        }

        // 중복 아이디 체크
        $.ajax({
          type: "post",
          url: "/registerIdCheck", //여기 확인!!!!!!!
          data: {
            userid: inputId,
          },
          success: function (res) {
            // 확인 후 삭제
            console.log("suc_res", res); //응답 받았는지 {result:true, userid:} 이건 내가 정한값
            console.log(res.userid);

            if (res.success) {
              idP.innerText = "사용 가능한 아이디입니다.";
              idP.style.color = "green";
              form.userid.readOnly = ture; //확인된 아이디 고정
            } else {
              idP.innerText = "이미 사용 중인 아이디입니다.";
              idP.style.color = "red";
            }
          },
          error: function (error) {
            console.log(error);
          },
        });
      }

      //회원가입
      function registerClick() {
        const form = document.forms["register"];
        const userid = form.userid.value.trim();
        const userpw1 = form.userpw1.value;
        const userpw2 = form.userpw2.value;
        const username = form.username.value;
        const userbirth = form.userbirth.value;

        //확인 후 삭제
        console.log("form", form);
        console.log("form.userid", form.userid.value);
        console.log("form.userpw", form.userpw1.value);
        console.log("form.userbirth", form.userbirth.value);
        console.log("form.username", form.username.value);

        //아이디 검사
        if (userid === "") {
          alert("아이디를 입력해주세요");
          return false;
        }

        //비밀번호 유효성

        const regPw =
          /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$])[A-Za-z\d!@#$]{5,15}$/;
        const isCheckedPw = regPw.test(userpw1);

        if (!isCheckedPw) {
          alert(
            "비밀번호는 영문 소/대문자, 숫자, !@#$ 포함 5 ~ 15자여야 합니다."
          );
          return false;
        }

        //비밀번호 확인
        if (userpw1 !== userpw2) {
          alert("비밀번호가 일치하지 않습니다.");
          return false;
        }

        // 폼 전송
        //return true;
        //post
        $.ajax({
          type: "post",
          url: "/users/register", //수정
          data: {
            userid: userid,
            userpw: userpw1,
            username: username,
            userbirth: userbirth,
          },
          success: function (res) {
            console.log("밖", res.userbirth);
            if (res.success) {
              console.log(res.userbirth);
              //토큰, 스토리지
            } else {
              alert("회원가입 실패");
            }
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    </script>
    <script src="/static/js/register.js"></script>
  </body>
</html>
