
/* 다른 사람들은 
calc()로 볼크기를 빼더라긔 ???!!!!!!!!!!!1
!!!!!!!!!!!!!!!!!!!!! */
body{
    margin: 0;
    padding: 0;
}

.container{
    width: 700px;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: beige;
}

.ball1{
    width: 100px;
    height: 100px;
    background: linear-gradient(rgb(135, 249, 245), rgb(64, 175, 185), rgb(32, 204, 156));
    border-radius: 50%;
    position: relative;

    animation-name: an-1;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes an-1{
   0%{
    left: 0px;
   }
   /* 아래는 left 처음에서 -> 이동이니가 700인줄 알았는데 공의 크기가 있으니까 그만큼 뺐어 그걸 calc() 
   left 길이가 700이니까 600만 이동해야지 배경안에 들어감 컨테이너 없이 창 전체로 하려면 position absolute
   상위에 relative 없게하면 창 크기가 기준 되지 않나?*/
   25%{
    left: 600px;
    top: 0px;
   }
   50%{  
    top: 400px;
    left: 600px;
   }
   75%{
    top:400px;
    left:0px;
   }
   100%{
    top: 0px;
   }
}