*{
    font-size: 20px;
    font-weight: bold;
}

body{
    margin: 0;
    padding: 0;
}

/* 컨텐츠 중앙 정렬 할떄 display:flex 하고 한 줄 정렬 align-item 두줄 정렬 align-content */

.header1{
    background-color: lightgray;
    padding: 10px 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.header1 > .menus{
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    padding: 0;
    margin: 0;
}

.header1 > .menus >li{
    padding: 0 10px;
    margin: 0;
}

.header2{
    background-color: lightgray;
    padding: 10px;
    align-items: center;
}

.header2 > .menus{
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.header3{
    background-color: lightgray;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header3 > ul{
    list-style-type: none;
    box-sizing: border-box;
    display: flex;    
    /* 여기 디스플레이 왜? align-item도 안 썼으면서 */
    padding: 0;
    margin: 0;
}

.header3 > ul > li{
    padding: 0 10px;
}
