body{
    margin: 0;
    padding: 0;
}

.con{
    width: 1000px;
    height: 500px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 250px;
    height: 200px;
    position: relative;
    transform: perspective(500px) skewY(20deg);
    position: relative;
    cursor: pointer;
    }

.img:hover{
    transform: perspective(400px);
    transition: 0.5s ease-in;
    z-index: 30;
}

.img1{
    left: 100px;
    z-index: 20;
}

.img2{
  z-index: 10;
}

.img3{
    right: 100px;
}
