table {
  border-collapse: collapse;
}

.container {
  width: auto;
  height: 200px;
  background-color: orange;
}

.box {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin-right: 30px;
}

.html {
  background-color: skyblue;
}
.css {
  background-color: green;
}
.javascript {
  background-color: red;
}
